# Neon Database
DB_HOST=NEON_HOST
DB_NAME=NEON_DATABSE
DB_USERNAME=neondb_owner
DB_PASSWORD=NEON_PASS
DB_ENDPOINT_ID=NEON_ENPOINT_ID

DB_R2DBC_URL=NEON_URL_R2DBC

DB_HOST_FLYWAY=NEON_HOST_FLYWAY

# REddis Database
REDIS_URL="REDIS_URL_UPTASH"

SPRING_DATA_REDIS_HOST_DEV=REDIS_HOST_DEV
SPRING_DATA_REDIS_PORT_DEV=REDIS_PORT_DEV
SPRING_DATA_REDIS_USERNAME_DEV=REDIS_USERNAME_DEV
SPRING_DATA_REDIS_PASSWORD_DEV=REDIS_PASSWORD_DEV
SPRING_DATA_REDIS_DATABASE_DEV=0
SPRING_DATA_REDIS_TIMEOUT_DEV=5000
SPRING_DATA_REDIS_SSL_ENABLED_DEV=true
SPRING_DATA_REDIS_CLIENT_NAME_DEV=REDIS_CLIENT_NAME_DEV
SPRING_DATA_REDIS_LETTUCE_POOL_MAX_ACTIVE_DEV=8
SPRING_DATA_REDIS_LETTUCE_POOL_MAX_IDLE_DEV=8
SPRING_DATA_REDIS_LETTUCE_POOL_MIN_IDLE_DEV=2
SPRING_DATA_REDIS_LETTUCE_POOL_MAX_WAIT_DEV=3000ms

JWT_SECRET=secret-key-must-be-at-least-32-characters-long-for-hs256